<!DOCTYPE html>
<!--
	Resto by GetTemplates.co
	URL: https://gettemplates.co
-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello World Flask App</title>
    <meta name="description" content="Hello World">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href=" {{ url_for('static',filename='vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.min.css') }}">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#navbar">
		

<div id="canvas-overlay"></div>
	<div class="boxed-page">
	
<section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <h2>
                            Hello Graylog, my name is Nife
                        </h2>
                    </div>  
                </div>
            </div>
    </div>
</section>


</footer>	
</div>
	
</div>
	<!-- External JS -->
	<script src="{{ url_for('static',filename='vendor/bootstrap/bootstrap.min.js') }}"></script>

	<!-- Main JS -->
	<script src="{{ url_for('static',filename='js/app.min.js') }}"></script>
</body>
</html>
